:root {
    --width: 550px;
    --font: 40px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: var(--font);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: ". . ." ". container ." "footer footer footer";
}

div.source {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
}

div.source>a {
    display: grid;
    place-items: center;
    text-align: center;
}

div.source img {
    width: 40px;
    height: auto;
}

.container {
    grid-area: container;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template: "calcDis" "display" "keypad";
    width: var(--width);
}

footer {
    grid-area: footer;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 20px;
    align-self: end;
    justify-self: center;
}

footer>a {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
}

footer>a:hover {
    text-decoration: none;
}

.calcDis {
    grid-area: calcDis;
    font-size: 14px;
    text-align: right;
}

.display {
    grid-area: display;
    text-align: right;
}

.keypad {
    grid-area: keypad;
    display: grid;
    grid-template-columns: calc(75%) calc(25%);
    background-color: black;
}

button {
    border-radius: 5px;
    border: calc(1px) solid;
    box-shadow: none;
    aspect-ratio: 1/1;
}

.numbers {
    display: grid;
    grid-template-columns: calc(33.331%) calc(33.331%) calc(33.331%);
    grid-template-rows: auto;
    direction: rtl;
}

.operators {
    display: grid;
    grid-template-columns: calc(100%);
    direction: rtl;
}

.operator {
    background-color: hsla(0, 0, 0, 50%);
}

@media only screen and (max-width: 550px) {
    * {
        --font: calc(100vw / 16);
    }
    .container {
        --width: 100vw;
    }
}