:root {
    --width: 35vw;
    --height: 75vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    font-size: calc(2.5vw);
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: ". . ." ". container ." ". . .";
}

.container {
    grid-area: container;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template: "calcDis" "display" "keypad";
    width: var(--width);
}

.calcDis {
    grid-area: calcDis;
    font-size: 14px;
    text-align: right;
}

.display {
    grid-area: display;
    text-align: right;
}

.keypad {
    grid-area: keypad;
    display: grid;
    grid-template-columns: calc(75%) calc(25%);
}

button {
    border-radius: 0;
    border: calc(.5px) solid;
    box-shadow: none;
}

.numbers {
    display: grid;
    grid-template-columns: calc(33.331%) calc(33.331%) calc(33.331%);
    grid-template-rows: auto;
    direction: rtl;
}

.digit {
    aspect-ratio: 1/1;
}

.operators {
    display: grid;
    grid-template-columns: [gap] 80% [gap];
    gap: 2px;
    direction: rtl;
}

.operator {
    background-color: hsla(0, 0, 0, 50%);
}